/* здесь используйте глобальные переменные */

// COLORS

// MAIN COLORS
$main-colour-accent:#A18A68;
$main-colour-white:#FFFFFF;
$main-colour-black:#000000;

// NEUTRAL COLORS
$main-colour-dark-gray:#707070;
$main-colour-gray:#D8D8D8;
$main-colour-light-grey:#EFEFEF;

// SERVICE COLORS
$error-colour:#D82700;





// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;



// Settings
// $desktop: 1025;
// $desktop-xl: 1800;
$laptop: 1440;
// $tablet: 768;
$mobile: 320;
// $desktop-vh: 750;