.main-page--body{
   background-color: aquamarine;
   margin: 0 auto;
}
.main-page--wrapper{
   margin: 64px auto;
   width: 1248px;
}

.main-page--header{
   min-height: 96px;
   outline: 1px solid black;
}
.main-page--main{
   min-height: 1822px;
   outline: 1px solid black;
}

.main-page--footer{
   min-height: 159px;
   outline: 1px solid black;
}
